{% extends 'Admin/base_template.html' %}
{% block main_content %}


    <div class="card card-body">
   
<div class="card">
    
    <div class="card-header" style="background-color: #6610f2;">
      <h3 class="card-title"><b  style="color:rgb(6, 7, 87)";>ALL PRODUCT DETAILS</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="form-group">
        <div class="row">
        <div class="col-sm-12 col-md-9"><div class="dataTables_length" id="example1_length"><label>Show <select name="example1_length" aria-controls="example1" class="custom-select custom-select-sm form-control form-control-sm">
        <option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div>
        
        

        <div class="col-sm-12 col-md-3"> 
        <div id="example1_filter" class="dataTables_filter"><a href="/category"  button type="button"  class="btn btn-secondary btn-warning mx-3">ADD</span></a>
          <label><input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls="example1" ></label></div></div></div>
        <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable dtr-inline" role="grid" aria-describedby="example1_info">


        <thead>
        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">CATEGORY</th>
          
         <th>ACTION</th>
        </th></tr>
        </thead>
        <tbody>
          
        <tr role="row" class="odd">
          
          
            {% for category in category %}
          <TR>
         
            <td>{{category.cattype}}</td>
                        
                       
                      
                        
                       
                     
            <td><a href="/edit_category/{{category.id }}"  button type="button" class="btn btn-primary mx-2">EDIT </button> </a>
                <a href="/delete_category/{{category.id}}"  button type="button"  class="btn btn-danger mx-2">DELETE</span></a></td>
          </tr>
        {% endfor %}
           
        </tbody>
        
        </tr></tbody>
        <tfoot>
      
        </tfoot>
      </table></div></div><div class="row"><div class="col-sm-12 col-md-9"><div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-3"><div class="dataTables_paginate paging_simple_numbers" id="example1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="example1_previous"><a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item ">
          <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
    </div>
    <!-- /.card-body -->
  </div>
  {% endblock main_content %}