{% extends 'Admin/base_template.html' %}
{% block page_title %}
<B>CATEGORY</B>
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    {%load static %}

    <!-- Main content -->
    
    <form role="form"  method="post"  action="/subcategory_save">
      {% csrf_token %}

    <!-- Main content -->
    <div class="container register-form">
      <div class="card card-body">
      <div class="form">
        <div class="note">
          
        </div>
        <div class="card card-primary">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    <label>CATEGORY</label>
                    <select class="form-control" name="category" placeholder="NONE">
                        {% for category in category %}
                          <option value="{{ category.id }}">{% if category.id == subcategory.category_id.id %} selected {% endif %}>{{ category.cattype}}</option>
                        {% endfor %}
                    </select>
                  </div>
                 
                   
                </div>
              <div class="col-md-6">
                <div class="form-group">
                    <label>PRODUCTCATEGORY </label>
                    <input type="text" class="form-control" name="subcategory_name" placeholder="SUBCATEGORY" value="{{subcategory.subcategory_name }}">
                    </div>
      
                    </div><!------------------------------------------------------------------>
                                       <div class="form-group">
                                          {% if messages %}
                                            {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                            {% if message.tags == 'success' %}
                                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                            {% endfor %}
                                          {% endif %}
                                        </div>
                        
                                    <!-- /.card-body -->
                    
                                    <div class="card-footer">
                                      <button type="submit" id="createProduct" class="btn btn-primary btn-block">SUBMIT</button>
                                    </div>
                                    <div class="card-footer">
                                      <a href="/viewsubcategory"  button type="button"  class="btn btn-secondary btn-warning">VIEW </span></a></td>
                                    </div>
                                    </form>
                                </div>
                                <!-- /.card -->
                    </div>
                    
                    
                              </div>
                              </div>
                          </div>
                        </section>
                        <!-- /.content --> 




  {% endblock main_content %}
                    
                    