{% extends 'Admin/base_template.html' %}
{% block page_title %}
<b style="color:rgb(6, 7, 87)">HOME</b>
  {% endblock page_title %}

{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 style="color:rgb(0, 0, 0)">44{{ product_count }}</h3>

                <p ><B style="color:rgb(6, 7, 87)">TOTAL PRODUCT</B></p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/viewproduct" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 style="color:rgb(0, 0, 0)">22{{category_count}}</h3>

                <p><B style="color:rgb(0, 0, 0)">TOTAL CATAGEORY </B></p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3  style="color:rgb(0, 0, 0)"></h3>

                <p><B style="color:rgb(11, 11, 12)">TOTAL SUBCATEGORY</B></p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
       
              
                  </div>
                  <!-- /.card-body -->
                </div>
              </div>
          </div>
          
              
          
          
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
    <!-- /.content -->
 
   
               