{% extends 'Admin/base_template.html' %}
{% block page_title %}
<B>POST</B>
{% endblock page_title %}
{% block main_content %}

<B>  ADD BLOG POST</B>
    <!-- Main content -->
    {%load static %}

    <!-- Main content -->
    
    <form role="form"  method="post"  action=""  enctype="multipart/form-data">
      {% csrf_token %}

    <!-- Main content -->
    <div class="container register-form">
      <div class="card card-body">
      <div class="form">
        <div class="note">
          
        </div>
        <div class="card card-primary">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    <label>HEADING</label>
                    <input type="text" class="form-control" placeholder="Name" name="headng" >
                  </div>
                 
                   <div class="form-group">
                    <label>DESCRIPTION</label>
                    <input type="text" class="form-control" placeholder="BRIEF DESCRIPTION" name="workdesc">
                  </div>
                  <div class="form-group">
                    <label>IMAGE</label>
                    <input type="file" class="form-control" placeholder="IMAGE" name="wimg" >
                  </div>
                 </div> 
              <div class="col-md-6">
                
                <div class="form-group">
                  <label>HEADING 2</label>
                  <input type="text" class="form-control" placeholder="Name" name="headng2" >
                </div>
               
                 <div class="form-group">
                  <label>DESCRIPTION 2</label>
                  <input type="text" class="form-control" placeholder="BRIEF DESCRIPTION" name="workdesc2">
                </div>
                <div class="form-group">
                  <label>IMAGE 2</label>
                  <input type="file" class="form-control" placeholder="IMAGE" name="wimg2" >
                </div>
               </div> 
      
                    <!------------------------------------------------------------------>
                                       <div class="form-group">
                                          {% if messages %}
                                            {% for message in messages %}
                                            {% if message.tags == 'error' %}
                                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                            {% if message.tags == 'success' %}
                                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                            {% endif %}
                                            {% endfor %}
                                          {% endif %}
                                        </div>
                        
                                    <!-- /.card-body -->
                    
                                    <div class="card-footer">
                                      <button type="submit" id="createProduct" class="btn btn-primary btn-block">SUBMIT</button>
                                    </div>
                                    <div class="card-footer">
                                      <a href="/viewworkdata"  button type="button"  class="btn btn-secondary btn-warning">VIEW </span></a></td>
                                    </div>
                                    </form>
                                </div>
                                <!-- /.card -->
                    </div>
                    
                    
                              </div>
                              </div>
                          </div>
                        </section>
                        <!-- /.content --> 



  {% endblock main_content %}
                    
                    