{% extends 'base.html'%}
{% block main_content %}
{% load static %}


<div id="no-solr-search-container">
    <div class="header-background-default">
        <div class="header-content-title">
            <h1>About Farmery</h1>
        </div>
        <style> .header-background-default { background-image: url(../img/media/theming/default/farmery-bg-gray_1.jpg); } </style>
        <div class="breadcrumbs">
            <ul>
                <li class="home"> <a href="/" title="Go to Home Page">Home</a> <span>/ </span></li>
                <li class="cms_page"> <strong>About Farmery</strong></li>
            </ul>
        </div>
        <script type="application/ld+json"> {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement":
            [
            {
            "@type": "ListItem",
            "position": 1,
            "item":
            {
            "@id": "http://www.farmery.in/",
            "name": "Home"
            }
            },                {
            "@type": "ListItem",
            "position": 2,
            "item":
            {
            "@id": "",
            "name": "About  Farmery"
            }
            }               ]
            } 
        </script>
    </div>
    <div class="novaworks-main-content">
        <div class="main home-content container">
            <div class="row columns-layout">
                <div class="col-main col-md-12">
                    <style> .bestsllerbrand .shopbybrand-title h1,
                        .brand-search .shopbybrand-title h1,
                        .shopbybrand-title h1 {
                            background-color: #FFA500;
                            color:#FFFFFF;
                        }
                        .shopbybrand-list .brands .brandslist .brand-begin-label strong{
                            background-color: #3399CC;
                            color:#FFFFFF;
                        }
                        .shopbybrand-list .charlist a{
                            background-color: #eeeeee !important;
                            color:#707070 !important;
                        }
                        .shopbybrand-list .brands .brandslist .brand-begin-label{
                            border-bottom: 1px solid #3399CC  !important;
                        }
                        .shopbybrand-list .filterbar #charaters-list ul li.charlist a:hover,
                        .shopbybrand-list .filterbar #charaters-list ul li.isActiveCate a,
                        .shopbybrand-list .filterbar #charaters-list ul li.charlist a.isActiveCate{
                            background-color: #6f6f6f !important;
                            color:#ffffff !important;
                        }
                        .shopbybrand-list a{
                            color:#3399CC !important;
                        }
                        .shopbybrand-list a:hover {
                            color:#6f6f6f !important;
                        }
                        @media screen and (min-width:768px) and (max-width: 979px) {
                            .shopbybrand_sidebar .shopbybrand-title h1,
                            .brand-search .shopbybrand-title h1,
                            .bestsllerbrand .shopbybrand-title h1{
                                background-color: #FFA500 !important;
                            }
                        } 
                    </style>
                    <div class="std">
                        <p>
                        <div class="widget widget-static-block">
                            <section class="about">
                              <div class="container">
                                 <div class="row">  
                                    <div class="col-md-12 col-sm-12">
                                        <h2 class="widget-title">Farmery Cow Milk</h2>
                                        <p>Farmery Farm Fresh Cow's Milk is an honest attempt to serve nutritious, chemical-free and preservative-free milk.<br />It's an equivalent of serving fresh whole milk from your own farm while being present in an urban living</p>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp animated animated" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;" data-wow-delay="0.6s">
                                        <div class="col-md-12 col-sm-12" style="background: #fed83e; border-radius: 50%; padding: 40px; margin: 25px 0px 0px 0px; height: 400px;">
                                            <img alt="" src="/img/media/wysiwyg/leaf-gray1.jpg" />
                                            <h3>Real Fresh A-Grade Whole Milk</h3>
                                            <hr />
                                            <p>We serve "Raw Unprocessed Chilled Milk" milked within 12-24 hours before delivery. This is quite unique unlike other brands where milk is 4-5 days old and heavily processed for consistency. We have no middleman, and source directly from co-managed farms. This helps control the bacterial count 4-5 times better than traditional collection center milk.<br /><br /></p>
                                        </div>
                                        <div class="col-md-12 col-sm-12" style="background: #fed83e; border-radius: 50%; padding: 40px; margin: 25px 0px 0px 0px; height: 400px;">
                                            <img alt="" src="/img/media/wysiwyg/no-injection1.jpg" />
                                            <h3>No manipulation with Natural Milking Cycle</h3>
                                            <hr />
                                            <p>The cows are not given any hormonal injections to boost the milk yield. Studies have linked the consumption of milk contaminated with oxytocin to the early onset of puberty in children, which is on an alarming rise these days.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp animated animated" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;" data-wow-delay="0.9s"><img class="farmery-bottle" style="width: 85%; margin-top: 0px;" alt="farmery-bottle.jpg" src="/static/img/farmery-milk-bottle-front.jpg" data-src="" /></div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp animated animated" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;" data-wow-delay="1s">
                                        <div class="col-md-12 col-sm-12" style="background: #fed83e; border-radius: 50%; padding: 40px; margin: 25px 0px 0px 0px; height: 400px;">
                                            <img alt="" src="/img/media/wysiwyg/no-chemical1.jpg" />
                                            <h3>No Preservatives And Adulterants</h3>
                                            <hr />
                                            <p>The milk obtained from the cows is unadulterated and does not have any preservatives (such as formalin), which is widely used by local dairy vendors. We ensure the milk stays safe by using cold supply chain processes.</p>
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12 col-sm-12" style="background: #fed83e; border-radius: 50%; padding: 40px; margin: 25px 0px 0px 0px; height: 400px;">
                                            <img alt="" src="/img/media/wysiwyg/recycle1.jpg" />
                                            <h3>Environment Friendly</h3>
                                            <hr />
                                            <p>Glass is one of the safest materials, non-toxic and non-reactive, as compared to other packaging materials such as plastic, which can leach into food products. Our brand values don&rsquo;t go with plastic or anti-environment materials, thus we use glass bottles for packaging.</p>
                                        </div>
                                    </div>
                                </div>
                              </div> 
                            </section>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="homepage-mini-cart">
                    <div class="mini-cart-sidebar"></div>
                    <script> jQuery(".shopping-bag").slideToggle();
                        jQuery('.arrow').toggleClass("down up");
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}