{% extends 'base.html'%}
{% block main_content %}
{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
<div id="no-solr-search-container" style="background-color: #b0dae9;">
    <div class="header-background-default">
        <div class="header-content-title">
            <h1>About Farmery</h1>
        </div>

        <p class="btmspace-50 justified">Enim neque nec placerat risus suscipit vitae volutpat nisi sit amet turpis molestie ut sodales nisi efficitur duis id ex eros vivamus ac vehicula nibh non luctus ipsum suspendisse dolor metus varius in facilisis vitae euismod nec ex donec ullamcorper eros vel molestie sagittis libero augue elementum libero cursus euismod sem leo sed augue praesent condimentum odio sit amet nulla tempor sollicitudin lacinia mauris vestibulum cras euismod accumsan dolor et convallis praesent porttitor maximus viverra proin fermentum scelerisque neque quis consequat mauris
             rutrum eget proin fringilla nisi libero in tincidunt tortor porttitor sed phasellus vitae molestie massa suspendisse.</p>
       
    </div>
</div>
</div>
    </div>
    <div class="novaworks-main-content">
        <div class="main home-content container">
            <div class="row columns-layout">
                <div class="col-main col-md-12">
                    
                    <div class="std">
                        <p>
                        <div class="widget widget-static-block">
                            <section class="about">
                              <div class="container">
                                 <div class="row">  
                                    <div class="col-md-12 col-sm-12">
                                        <h2 class="widget-title">Farmery Cow Milk</h2>
                                        <p>Farmery Farm Fresh Cow's Milk is an honest attempt to serve nutritious, chemical-free and preservative-free milk.<br />It's an equivalent of serving fresh whole milk from your own farm while being present in an urban living</p>
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp animated animated">
                                        <div class="col-md-12 col-sm-12"  style="background: #ca370a; border-radius: 38% ; padding: 40px; margin: 25px 0px 0px 0px; height: 400px; transition-property:1s,3s; transition-timing-function: ease-in; " >
                                            
                                            <h3>Real Fresh A-Grade Whole Milk</h3>
                                            <hr />
                                            <p>We serve "Raw Unprocessed Chilled Milk" milked within 12-24 hours before delivery. This is quite unique unlike other brands where milk is 4-5 days old and heavily processed for consistency. We have no middleman, and source directly from co-managed farms. This helps control the bacterial count 4-5 times better than traditional collection center milk.<br /><br /></p>
                                        </div>
                                        <div class="col-md-12 col-sm-12" style="background: #3ec1fe; border-radius: 38%; padding: 40px; margin: 25px 0px 0px 0px; height: 400px;">
                                            <img alt="" src="/img/media/wysiwyg/no-injection1.jpg" />
                                            <h3>No manipulation with Natural Milking Cycle</h3>
                                            <hr />
                                            <p>The cows are not given any hormonal injections to boost the milk yield. Studies have linked the consumption of milk contaminated with oxytocin to the early onset of puberty in children, which is on an alarming rise these days.</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp animated animated" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;" data-wow-delay="0.9s"><img class="farmery-bottle" style="width: 85%; margin-top: 0px;" alt="farmery-bottle.jpg" src="/static/img/farmery-milk-bottle-front.png" data-src="" /></div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp animated animated" style="visibility: visible; animation-delay: 1s; animation-name: fadeInUp;" data-wow-delay="1s">
                                        <div class="col-md-12 col-sm-12" style="background: #fe3ea8; border-radius: 38%%; padding: 40px; margin: 25px 0px 0px 0px; height: 400px;">
                                            <img alt="" src="/img/media/wysiwyg/no-chemical1.jpg" />
                                            <h3>No Preservatives And Adulterants</h3>
                                            <hr />
                                            <p>The milk obtained from the cows is unadulterated and does not have any preservatives (such as formalin), which is widely used by local dairy vendors. We ensure the milk stays safe by using cold supply chain processes.</p>
                                            &nbsp;
                                        </div>
                                        <div class="col-md-12 col-sm-12" style="background: #fea43e; border-radius: 50%; padding: 40px; margin: 25px 0px 0px 0px; height: 400px;">
                                            <img alt="" src="/img/media/wysiwyg/recycle1.jpg" />
                                            <h3>Environment Friendly</h3>
                                            <hr />
                                            <p>Glass is one of the safest materials, non-toxic and non-reactive, as compared to other packaging materials such as plastic, which can leach into food products. Our brand values don&rsquo;t go with plastic or anti-environment materials, thus we use glass bottles for packaging.</p>
                                        </div>
                                    </div>
                                </div>
                              </div> 
                            </section>
                        </div>
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}