
{% extends 'base.html'%}
{% block main_content %}
{% load static %}

                
    <div class="novaworks-main-content" style="background-color: rgb(247, 213, 102);   background-image: url('static/img/img1.png');  background-repeat: no-repeat;  background-size: cover;  ">
        <div class="main home-content container">
            <div class="row columns-layout">
                <div class="col-main col-md-12">
                    <style> .bestsllerbrand .shopbybrand-title h1,
                        .brand-search .shopbybrand-title h1,
                        .shopbybrand-title h1 {
                            background-color: #FFA500;
                            color:#FFFFFF;
                        }


                      /*  .novaworks-main-content::after{
                            content: "";
                            position: absolute;
                            background-color: #eeeeee;
                            width: 100%;
                            height: 100%;
                


                        }
*/                        .shopbybrand-list .brands .brandslist .brand-begin-label strong{
                            background-color: #3399CC;
                            color:#FFFFFF;
                        }
                        .shopbybrand-list .charlist a{
                            background-color: #eeeeee !important;
                            color:#707070 !important;
                        }
                        .shopbybrand-list .brands .brandslist .brand-begin-label{
                            border-bottom: 1px solid #3399CC  !important;
                        }
                        .shopbybrand-list .filterbar #charaters-list ul li.charlist a:hover,
                        .shopbybrand-list .filterbar #charaters-list ul li.isActiveCate a,
                        .shopbybrand-list .filterbar #charaters-list ul li.charlist a.isActiveCate{
                            background-color: #6f6f6f !important;
                            color:#ffffff !important;
                        }
                        .shopbybrand-list a{
                            color:#3399CC !important;
                        }
                        .shopbybrand-list a:hover {
                            color:#6f6f6f !important;
                        }
                        @media screen and (min-width:768px) and (max-width: 979px) {
                            .shopbybrand_sidebar .shopbybrand-title h1,
                            .brand-search .shopbybrand-title h1,
                            .bestsllerbrand .shopbybrand-title h1{
                                background-color: #FFA500 !important;
                            }
                        } 
                    </style>
                    <div class="std">
                        <p>
                        <div class="widget widget-static-block">
                            <section id="how-it-works" class=" how-it-works">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                            <h2 class="widget-title">How it works</h2>
                                            <h4>Fresh Cow's Milk from Farm to Table in Few Hours</h4>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <ul class="timeline">
                                                <li>
                                                    <div class="timeline-image"><img class="img-circle img-responsive" alt="farm" src="/static/img/1.jpg" /></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4>Own farm</h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>Unlike the big brands of milk we do not collect milk from thousands of farmers where cattle feed, health and milking methods are not monitored. We have a single breed of cows housed in select mid-size farms under 50 kms from the city. The fodder and well-being of the cattle is monitored under supervision of trained veterinarians at all times.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="timeline-inverted">
                                                    <div class="timeline-image"><img class="img-circle img-responsive" alt="quality" src="/static/img/2.jpg" /></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4>Quality Checks</h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>We keep a stringent check on the cattle quality, fodder and processes at the farm. Samples of our milk are regularly checked and passed by FSSAI accredited labs for any trace of chemicals, pesticides or toxins.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-image"><img class="img-circle img-responsive" alt="hygienic milking" src="/static/img/3.jpg" /></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4>Hygienic Milking Conditions</h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>We ensure our cattle sheds and cattle are washed multiple times during the day. The milking of cows is done by automatic milking machine and is untouched by hands</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="timeline-inverted">
                                                    <div class="timeline-image"><img class="img-circle img-responsive" alt="chilling" src="/static/img/4.jpg" /></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4>Chilling before bottling</h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>Milk is chilled to 2℃ in Bulk Milk Coolers. At this temperature the natural goodness of milk is retained without any harmful bacterial growth</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="timeline-image"><img class="img-circle img-responsive" alt="bottling" src="/static/img/5.jpg" /></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4>Packaging / Bottling</h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>Chilled milk is packed in glass bottles so that the cold temperature is retained for a long duration. The bottles are sealed at the farm to ensure that milk is delivered in tamper proof state</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="timeline-inverted">
                                                    <div class="timeline-image"><img class="img-circle img-responsive" alt="delivery" src="/static/img/6.jpg" /></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <h4>Ready for Delivery</h4>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <p>Bottled milk packed in insulated boxes from farm arrives at our hubs. Dispatches are done to your household within 3-4 hours</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="timeline-inverted">
                                                    <div class="timeline-image">
                                                        <h4>Boiling is <br />recommended within 90 <br />minutes of <br />receipt</h4>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        </p>
                    </div>
                </div>
                <div class="homepage-mini-cart">
                    <div class="mini-cart-sidebar"></div>
                    
                </div>
            </div>
        </div>
    </div>
</div>        <!--</div>-->
    
       
    <div class="modal" id="fruit-intro">
       <a class="" href="/shop" title="Fruits"> <img src="/media/fruit-intro.jpg"></a>
    </div>
<div>
    <a href="/cart" class="floating-cart-button">
    <i class="fa fa-shopping-cart my-float"></i>
    <span id="mini-cart-count">0</span>
    </a>
</div>

    </body>    
</html>
{% endblock main_content %}