{% extends 'nofooterbase.html'%}
{% block main_content %}
{% load static %}

<head>

<meta charset="utf-8"/>        <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{%static 'css/footer.css'%}" >


<link rel="stylesheet" href="{%static 'css/loginstyle.css'%}" >


 

</head>

<body>
    <form  onsubmit="return validation();" action="homeadmin_template" method="post" >
        {% csrf_token %}
        <div class="main home-content container">
         <div class="row columns-layout"> 
            <div class="loginbox">
            <H1  style="color:rgb(120, 23, 230)" ><B>LOGIN</B></H1>

         <p><B>USERNAME<B></p>
            <input type="text" placeholder="Enter Username" name="username" required />
        
        <P>PASSWORD</P>
            <input type="password" placeholder="Enter Password" name="password" id="pass" required /> <br>                                                                                       
       <BR>
             <input type="submit" name="" value= "Sign in">
             <div class="col-12  text-center">  
            <div class="col-12  text-center">
            <a href="#"><B style="color: blue;">NEW USER</B></a>
           
            <br>
            <a href="#"><B  style="color: blue;">FORGET PASSWORD</></a> 
          </div> 
         </div>
        </div>
        </div>

        {% if messages %}
        <div class="col-12">
           {% for message in messages %}
           {% if message.tags == 'error' %}
           <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
           {% endif %}
           {% endfor %}
         
         {% endif %}
       
    </FORM>
   </div>
</div>


<script>


function gettoken(body){
    console.log('ok1')
    
  return fetch('http://127.0.0.1:8000/api/auth/',{
   method: "POST",
   headers:{
       'Content-type':'application/json'
   },
   body:JSON.stringify(body)
}). then(resp=>resp.json())
}console.log("ok")
  

</script>







<footer class="common-footer">
    <div class="row padding-none" style="margin:0px;"> 
    <div class="columns-layout">
        <div class="footer-widget">
            <div class="col-sm-6">
                <strong>About Farmery</strong>
                <p>Farmery is a brand which stands for providing really good quality farm fresh food. We ensure that our food products do not have presence of any harmful substance which are widely present in our food today. We conduct strict quality tests through FSSAI accredited laboratories to ensure that there are no traces of any pesticides, chemicals or preservatives in our food products.</p>
                <p>Our journey has started with one of the most essential and important part of our daily diet - Milk and Dairy products. We are using our knowledge and expertise in building complex supply chains to make this possible on a daily basis. We aim to take these good quality food products to more and more households.</p>
                <div class="contact-footer">
                    <span>Feel free contact us :</span>
                    <ul>
                        <li><i class="fa fa-phone"></i>&nbsp;&nbsp;+91 9899779559</li>
                        <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="2e474048416e484f5c434b5c57004740">[email&#160;protected]</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-sm-push-1">
                <strong>Company</strong>
                <ul>
                    <li><a href="/about">About Farmery</a></li>
                    <li><a href="/how-it-works">How it Works</a></li>
                    <li><a href="https://www.farmery.in/myaccount/#/app/testreport">Test Reports</a></li>
                    <li><a href="https://www.farmery.in/myaccount/#/app/faqs">FAQ</a></li>
                    <li><a href="/term-and-conditions">Terms &amp; Conditions</a></li>
                    <li><a href="/privacy-policy">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-sm-push-1">
                <strong>Explore</strong>
                <ul>
                    <li><a target="_blank" href="">Android App</a></li>
                    <li><a target="_blank" href="https://apps.apple.com/us/app/farmery/id1414220360?ls=1">iOS App</a></li>
                </ul>
                Join Us : <a href="https://www.facebook.com/farmagic" target="_blank">&nbsp;&nbsp;<i class="fa fa-facebook"></i></a> <a href="https://twitter.com/fudfill" target="_blank">&nbsp;&nbsp;<i class="fa fa-twitter"></i></a> <img class='footer-logo' alt="" src="/img/media/theming/default/farmery-footer_1.jpg" class="standard" /> <img class='footer-fssai' alt="" src="/img/media/wysiwyg/fssai.png" class="standard" />
            </div>
        </div>
    </div>
    </div>
    <div class="footer-base grid" style="padding:0;">
        <p class="col-sm-6">© 2015 Natural Box Retail Pvt Ltd. All Rights Reserved.</p>
        <div class="join-us push-right"></div>
    </div>
</footer>

</body>

 {% endblock main_content %}
