
{% load static %}<html>
    <head>
        <meta charse="utf-8">
        <link rel="stylesheet" href="{%static 'css/styleadmin.css'%}" >
       
        
</head>



        <body>
            
            <form action="" method="post" >
                {% csrf_token %}

            <div class="loginbox">
              
            
                  <H1>LOGIN</H1>
            <form>
                <p><B>USERNAME<B></p>
                    <input type="text" placeholder="Enter Username" name="username" required >
                
                
                <P>PASSWORD</P>
                    <input type="password" placeholder="Enter Password" name="password" required > <BR>
                                                                                                       
                                
             <!----  <p>OPERATOR</p>
                <select id="OPERATOR">
                <option value="OPERATOR">Select user</option>
                   <option value="ADMIN">ADMIN</option> 
                 <option value="STUDENT">STUDENT</option>
                    
                </select>   -->    
                <BR>             

               
               <BR>
                     <input type="submit" name="" value= "Sign in">
            
                <a href="{% url 'loginform'%}">Register if new.</a>
            </FORM>
            </div>
        </body>

</html>