{%load static %}
<!DOCTYPE html>
<html>
    <head>
    
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <!--- fontawsome---->
        <link rel="stylesheet" href="{% static 'css/nav.css' %}">
        
        
        <link rel="stylesheet" href="{% static 'css/bootstrapp.css' %}">
        <script src= "{% static 'js/all.min.js' %}"></script><!--- fontawsome---->
        <script src="{%static 'js/jquery.js'%}"></script>
       
        
        <script src= "{% static 'js/all.min.js' %}"></script><!--- fontawsome---->
        <script src="{%static 'js/jquery.js'%}"></script>
       
       
        
        <link rel="stylesheet" href="{% static 'css/bootstrapp.css' %}">
        <script src= "{% static 'js/all.min.js' %}"></script><!--- fontawsome---->
        
       
    
       
       

	
    </head>
    <body>
        <div class="back-diagonals page no-background">
            <div class="logo-fade" id="header-section">
                <header class="clearfix" id="header">
                    <div class="top-title hidden-xs">
                        <div class="container">
                            <div class="col-lg-3 col-md-12 col-xs-12 text-left no-padding"> <span><a href="https://www.farmery.in/myaccount/#/app/faqs"><i class="fa fa-question-circle"></i> FAQ</a></span> <span><i class="fa fa-phone"></i> 9899779559 &nbsp;&nbsp;</span> <span><a href='https://www.farmery.in/myaccount/#/app/serviceable-areas'><i class="fa fa-truck"></i> Service Areas</a></span></div>
                            <div class="col-lg-9 col-md-12 col-xs-12 text-right">
                                <span>
                                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                                    <a href="">Purity Meter</a>
                                </span>

                                <span>
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    <a href="">Account &amp; Payment</a>
                                </span>

                                <input type="hidden" class="area-link" value="0" id='my_area' />
                                <input type="hidden" class="area-link" value="0" id='my_zone' />
                                <span class="my-account-menu" style="display:none;">
                                    <i class="fa fa-user"></i>
                                    <a href="" class="area-link open-area" title="My Account">My Account</a>
                                </span>
                                <span class="menu-login">
                                    <i class="fa fa-user"></i>
                                    <a href="http://localhost:3000/" title="Login">Login</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div id="main-header" class="container navbar-main ">
                        <div class="col-lg-2 col-md-3 col-sm-3  col-xs-4">
                            <div class="header-logo">
                                <div class="clearfix" id="logo">
                                    <p class="logo"> <a href="/"> <img alt="Farmery" src="/static/img/farmery-logo.png" class="standard"  height="50" width="100"> </a></p>
                                    <p class="tag-line"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-9 col-sm-9 col-xs-8">
                            
                            <button class="navbar-toggle" id="sideMenu" data-toggle="collapse"> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> <span class="icon icon-bar"></span> </button> 
                            <div class="navbar navbar-default navbar-collapse landing-nav" role="navigation">
                                <div class="mobile-nav-scroll"> 
                                <ul class="nav navbar-nav">
                                    <li><a class="" href="/about" title="About Farmery">About Farmery</a></li>
                                    <li><a class="" href="/how-it-works" title="How it Works">How it Works</a></li>
                                    <li><a class="" href="/catalog" title="Catalogs">Dairy</a></li>
                                    <li><a class="" href="/shop" title="Shop">Fruits and Grocery</a><span class="ribbon3"></span></li>
                                    <li><a class="" href="/teamHome" title="Team">Our Team</a></li>
                                    <li><a class="" href="" title="Blog">Blog</a></li>
                                </ul>
                               
                            </div> 
                            </div>
                            </div>

                            
                                  <!-- ################################################################################################ -->
                                 <!---- <div id="logo" class="fl_left">
                                    <h1><a href="">FARMERY </a></h1>
                                  </div>
                                  <nav id="mainav" class="fl_right">
                                    <ul class="clear">
                                      <li class="active"><a href="" >Home</a></li>
                                      <li><a class="drop" href="#"><B>PRODUCT</B></a>
                                        <ul>
                                          <li><a href="templates/NewDesign/pages/gallery.html">Gallery</a></li>
                                          <li><a href="template/NewDesign/pages/full-width.html">Full Width</a></li>
                                          <li><a href="template/NewDesign/pages/sidebar-left.html">Sidebar Left</a></li>
                                          <li><a href="template/NewDesign/pages/sidebar-right.html">Sidebar Right</a></li>
                                          <li><a href="template/NewDesign/pages/basic-grid.html">Basic Grid</a></li>
                                        </ul>
                                      </li>
                                      <li><a class="drop" href="#"><B>TEAM</B></a>
                                        
                                          
                                      </li>
                                      <li><a href="#"><B>BLOG</B></a></li>
                                      <li><a href="#">Link Text</a></li>
                                    </ul>
                                  </nav>-->
<!--Navbar-->
</nav>
                <!--<div class="container clearfix">-->
                </div>
            </div>
           </header>

                  {% block main_content %} {% endblock main_content %}




        <!--</div>-->
      
       
    </body>    
</html>
