{% extends 'base.html'%}
{% block main_content %}
{%load static%}
<!DOCTYPE html>
<html>
    <head>

     
        <link rel="stylesheet" href="{% static 'css/trial.css' %}">


       
                <!--<div class="container clearfix">-->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	

</head>
<body data-spy="scroll" data-target=".mainmenu-area">
    <!-- Preloader-content -->
    
    <header class="home-area overlay" id="home_page">
        <div class="container">
            <div class="row">
           <div class="col-xs-12 col-md-5">
                    <figure class="mobile-image wow fadeInUp" data-wow-delay="0.2s">
                                                    <img src="{{product.img}}"  alt="Farmery Cow Milk">
                                            </figure>

                    <div class="products">
                                                   <!---- <img src="static/img/4.jpg" alt="farmery product">
                            <img src="static/img/1.jpg" alt="farmery product">
                            <img src="static/img/2.jpg" alt="farmery product">
                            <img src="static/img/3.jpg" alt="farmery product">-->
                                            </div>

                </div>
                <div class="col-xs-12 col-md-7 header-para">
                    <div class="space-80 hidden-xs"></div>
                    <div class="book-trial">
                        <h2></h2>
                    </div>
                    <h1 class="wow fadeInUp" data-wow-delay="0.4s">{{product.productname}}</h1>                    
                    <div class="space-20"></div>
                    <div class="desc wow fadeInUp" data-wow-delay="0.6s">
                        <p class="text-left">{{product.desc}} </p>

                        

                        <p class="price">Special  Price: <strike style='color:#000'>₹{{product.oldprice}}</strike> ₹{{product.newdiscount}}/-</p>
                     <!----   <p class="Vegetarian">Trial Pack Cost: <strike style='color:#000'>₹350</strike> ₹300&nbsp;&nbsp;|&nbsp;&nbsp;Pack Size: 1 Ltr x Five Days </p>-->

                    </div>
                    <div class="space-20"></div>
                    <a href="{% url 'trialform' %}" class="bttn-white wow fadeInUp open-trial-popup" data-toggle="modal" data-target="#myModal">BUY NOW</a>
                    <a href="{% url 'trialform' %}" class="bttn-white wow fadeInUp open-trial-popup" data-toggle="modal" data-target="#myModal">ADD TO CART</a>
                </div>
            </div>
        </div>
    </header>

    <!-- About-Area -->
    <section class="section-padding" id="about_page">
        <div class="container">
            <div class="container-inn">
                <div class="row">
                    <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="page-title text-center">
                            <div class="space-20"></div>
                            <div class="founder"><img src="/static/img/vivek.jpg" alt="founder farmery" class="img-responsive"></div>
                            <h5 class="title mb_40">I started Farmery</h5>

                            <div class="space-30"></div>
                            <p>to bring fresh, pure milk for my own kids. I remember my mother used to get milk delivered to our home, from the local milkman. He was cooperative, understood our family’s needs, and over time became like an extended family member we could rely upon. Sadly, in the past decade or so, this trusted network of local milkmen has disappeared. </p>
                            <p>My team and I are building Farmery to bring back that local milk supply chain. We have partnered with cattle-owners, in the vicinity of New Delhi. Every morning, farm fresh milk is delivered to your home from these cattle farms, within hours of milking. </p>
                            <p>It’s like having a cattle-shed in the backyard of your urban home. Just like the old days. </p>
                            <div class="space-20"></div>
                            <h4><strong>Vivek -</strong> <span>Founder & CEO, Farmery</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <!-- About-Area-End -->

    <!-- Testimonial-Area -->

    <div class="row padding-none">
        <div class="col-xs-12">
            <div class="page-title text-center">
                <h5 class="title">Reviews</h5>
                <h6 class="title-2">100+ Reviews on Facebook, Google </h6>
                <div class="space-60"></div>
            </div>
        </div>
    </div>

    <section class="testimonial-area" id="testimonial_page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="team-slide">
                        <div class="team-box">
                            <h4>Kusum Gill</h4>
                            <h6 class="review">Google Reviews 4/5 </h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star unchecked"></span>
                            <p class="message">Very professional and quick to respond to our needs regarding delivery and requirements. Milk is good in quality and fresh. Thanks for being there for our families!!</p>

                        </div>
                        <div class="team-box">

                            <h4>Mona Arora</h4>
                            <h6 class="review">Google Reviews 5/5 </h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>

                            <p class="message" style="font-size: 15px;line-height: 20px;">I am thankful to farmery team  for  the best quality milk and best services. The delivery boys are very polite. I am 43 year old single woman, sufferings from arthritis. I have been looking for best quality milk. The delivery boy is so helpful, i can't run to open the door coz of my health. They are so patient and polite. I can't wait for them to start supplying ghee and cheese. Well if you are concern about your health, you can trust farmery. I have encouraged many of my relatives and friends to buy milk from farmery.</p>

                        </div>                            
                        <div class="team-box">
                            <h4>Sidd Mohan</h4>
                            <h6 class="review">Facebook Reviews 5/5 </h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <p class="message" style="font-size: 15px">My family has been a buyer of Farmery's milk for over a year now. I think these guys are doing a great job of delivering what they promise. I like how easy it is to update your order when you are planning to be out of town. And the deliveries reach on time. The few times we were unhappy with the milk they were quick to take corrective measures. Well done Farmery team.</p>

                        </div>
                        <div class="team-box">
                            <h4>Palki Sharma</h4>
                            <h6 class="review">Facebook Reviews 5/5 </h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <p class="message">You guys are too awesome. Providing purest form of milk. Taste itself justifies everything about the product. :)</p>

                        </div>
                        <div class="team-box">
                            <h4>Nina Arora</h4>
                            <h6 class="review">Facebook Reviews 5/5 </h6>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <p class="message">Very satisfied customer, excellent milk quality that tastes so pure and healthy as compared to other packaged milk, must try!</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial-Area-End -->
	    <!--Questions-Area -->
    <section id="questions_page" class="questions-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-center">
                        <h5 class="title">FAQ</h5>
                        <h6 class="title-2">&nbsp; </h6>
                        <div class="space-60"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="toggole-boxs">
                        
                            <div class="toggole-boxs-inn">
                                <h3>Where is my milk Coming from? </h3>
                                <div>
                                    <p>Your milk comes from local, mid-sized cattle farms nearby New Delhi. These are typically cattle owners with 30-40 cows. We have partnered with such farms and closely monitor their setup. Cows are milked, the milk is chilled, packed into glass bottles, and delivered to your home within hours of milking. If you wish to, we’d be happy to arrange a visit to our farms nearby :)

                                    </p>
                                </div>
                            </div>
                            <div class="toggole-boxs-inn">
                                <h3>No Pesticides, No Growth Enhancers. No Chemicals. Right? </h3>
                                <div>
                                    <p>Of course. We closely monitor and test every partner farm continuously. You can be assured that Farmery Milk is free of any chemicals, pesticides, growth enhancers, preservatives, antibiotics or anything unwanted. For the past 3 years, our milk samples have been continuously tested by Farelabs Food Analysis &amp; Research Laboratory, in Gurgaon. You can request for the latest reports, with a message on facebook. </p>
                                    <p>It’s simple. It’s just Milk. Nothing more. Nothing less. </p>
                                </div>
                            </div>
                            <div class="toggole-boxs-inn">
                                <h3>Can I visit any of your farms?
                                </h3>
                                <div>
                                    <p>Of course. Every month, we have people visiting our farms to spend time with the cows, see the process behind their milk and know the people who the #DairyFarms. You could drop us a word on Facebook or Instagram and we’ll help you plan a trip. </p>
                                </div>
                            </div>

                            <div class="toggole-boxs-inn">
                                <h3>What if my area is not listed in the signup form?

                                </h3>
                                <div>
                                    <p>Don’t worry. We are slowly building our delivery network all over New Delhi. In case you see a nearby region listed, please drop a message on Facebook. We’ll quickly check with our hub manager and see if any exception can be made for you. Otherwise, we’ll drop you a message as soon as we begin in your area :) </p>
                                </div>
                            </div>
                        
                         


                        <!--                          <div class="toggole-boxs-inn">
                                                    <h3>Why is buffalo milk not in bottles? </h3>
                                                    <div>
                                                        <p>We are in the process of setting up a bottle delivery system for Buffalo milk too. Right now if we use bottles, the prices of buffalo milk touch Rs 75/- per liter, compared to the Rs 65/-. That’s why when we started with Buffalo milk, we asked our community if they’d be okay to use receive milk packets and give us some time to figure out a bottle system for buffalos without increasing the prices.  </p>
                                                    </div>
                                                </div>-->

                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="space-20 hidden visible-xs"></div>
                    <div class="toggole-boxs">

                        
                            <div class="toggole-boxs-inn">
                                <h3>What does one liter of cow milk cost after the trial? </h3>
                                <div>
                                    <p>One liter of Farmery Cow Milk costs Rs 70/- once you have used the trial. We are completely committed to providing clean, farm-fresh milk. At this price point, we are able to pay the dairy farmer fair income, feed the cows a rich diet and set up a reliable delivery network. </p>
                                </div>
                            </div>

                            <div class="toggole-boxs-inn">
                                <h3>I have a young kid. Should I try #FarmeryMilk? </h3>
                                <div>
                                    <p>Sure, that’s the whole purpose of #FarmeryMilk; to help parents find the cleanest milk possible. 9 out of 10 kids immediately like the natural taste of our milk. If you’re weaning your kid, you may want to dilute the milk with an equal volume of water for the first couple of days. #FarmeryMilk is thick, and that'll help your child get accustomed to milk.</p>
                                </div>
                            </div>

                            <div class="toggole-boxs-inn">
                                <h3>When will I receive my milk, if I start the trial pack? </h3>
                                <div>
                                    <p>You can choose the first day of your trial. If you can signup for a trial before 8 PM, your first bottle of milk can be delivered on the very next morning. You may receive a call from our delivery team to confirm the details of your address.
                                    </p>
                                </div>
                            </div>

                            <div class="toggole-boxs-inn">
                                <h3>Where can I learn more about #FarmeryMilk?</h3>
                                <div>
                                    <p>It’s simple. You can follow our Facebook or Instagram page. We share videos every day, from our farms. You’ll discover the way we treat our cattle, what the cows eat, the daily routine of calves and so much more. Alternatively, if you have questions, you can message us anytime. We’ll reply within 24 hours :)

                                    </p>
                                </div>
                            </div>
                        
                                            </div>
                </div>
            </div>

        </div>
    </section>
    <!--Questions-Area-End -->
    <section id="bottom-top-footer">
        <div class="container">
            <h4>Book Your Cow Milk 5 Days Trial</h4>
            <a href="#" class="bttn-white fadeInUp open-trial-popup" data-toggle="modal" data-target="#myModal">Start my trial</a>
        </div>
    </section>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><img src="/img/logo.png" alt="logo"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form method="post" class="trial-form">
                    <input type="hidden" name="referrar_id" id="referrar_id" value=""/>
                    <!-- Modal body -->
                    <div class="first-form">
                        <div class="modal-body">

                            <div class="form-group">
                                <p class="text-center">
                                    Fill in your details below to start your trial 
                                    pack. You'll receive a confirmation call 
                                    before the first delivery arrives.
                                </p>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="name" name="name" class="form-control" placeholder="Your Name *" value="" required="required" >
                                        <span class="err_msg"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6">  
                                    <div class="form-group">
                                        <input type="text" id="mobile_number" name="mobile_number" class="form-control" placeholder="Mobile Number *" value="" required="required" >
                                        <span class="err_msg"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" id="email-field-wrap">
                                        <input type="text" id="email_id" name="email_id" class="form-control" placeholder="Email *" value="" required="required" >
                                        <span class="err_msg"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group" id="otp-field-wrap" style="display: none;">
                                        <input type="text" id="otp" name="otp" class="form-control" placeholder="OTP *" value="" required="required">
                                        <span class="err_msg"></span>
                                    </div>
                                                                    </div>
                            </div>

                            <div class="row">    
                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <select id="city" name="city" required="required" >
                                            <option value=""> Choose City </option>
                                        </select>
                                        <span class="err_msg"></span>
                                    </div>
                                </div>

                                <div class="col-sm-6"> 
                                    <div class="form-group choose_area">                                        
                                        <select id="area" name="area" class="form-control" >
                                            <option value=""> Choose Area </option>
                                        </select>
                                        <span class="err_msg"></span>                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12"> 
                                    <div class="form-group">
                                        <input type="text" id="address" name="address" class="form-control" placeholder="Address *" value="" >
                                        <span class="err_msg"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">    
                                <!--div class="col-sm-6"> 
                                <div class="form-group">
                                    <select id="subarea" name="subarea">
                                        <option value=""> Choose Subarea </option>
                                    </select>
                                    <span class="err_msg"></span>
                                </div>
                            </div-->

                                <div class="col-sm-6"> 
                                    <div class="form-group">
                                        <select id="start_date" name="start_date">
                                            <option value=""> Choose Start Date </option>
                                        </select>
                                        <span class="err_msg"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">  
                                    <div class="form-group">
<!--                                        <input type="checkbox" id="is_reference_number" name="is_reffered" value="1">  -->
                                        <div class="form-group-2">
                                            <input type="checkbox" id="is_reffered_checkbox" name="is_reffered" class="is_reference_number" value="1">
                                            <label for="is_reffered_checkbox">Is Referred?</label>
                                        </div>
                                        <div class="" id="reference_number-wrap" style="display: none">  
                                            <div class="form-group">
                                                <input type="text" id="reference_number" name="reference_number" class="form-control" placeholder="Reference Mob Number" value="">
                                                <span class="err_msg"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                            <div class="form-group">
                                <p style="text-align:left;"> Your Trial pack costs INR 300/- Kindly pay to proceed.</p>
                            </div>                
                            <div class="form-group" id="payment-options">
                                                                    <div class="radiobtn">
                                        <input type="radio" id="pay_later" name="payment" value="pay_later" />
                                        <label for="pay_later">Pay On Delivery</label>
                                    </div>
                                
                                <div class="radiobtn">
                                    <input type="radio" id="pay_now" name="payment" value="pay_now" />
                                    <label for="pay_now">Pay Online</label>
                                </div>
                            </div>
                            <span class="err_msg"></span>
                        </div>
                        <input type ="hidden" id="order_id" value="" />
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <a id="start_trial" href="#" class="bttn-white fadeInUp">I AGREE. LETS BEGIN</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    
       
    <style>

        .form-group-2 {
            display: inline-block;
            margin-bottom: 5px;
            text-align: left;
            font-size: 13px;
            margin-top: 6px;
            float: left;
        }

        .form-group-2 input {
            padding: 0;
            height: initial;
            width: initial;
            margin-bottom: 0;
            display: none;
            cursor: pointer;
        }

        .form-group-2 label {
            position: relative;
            cursor: pointer;
            font-weight: normal;
        }

        .form-group-2 label:before {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 1px solid #9c9c9c;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            padding: 6px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
        }

        .form-group-2 input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: 5px;
            width: 5px;
            height: 9px;
            border: solid #7b7b7b;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        #reference_number-wrap{
            float: left;
            width: -webkit-calc(100% - 90px);
            width:    -moz-calc(100% - 90px);
            width:         calc(100% - 90px);
            margin-left: 5px;
        }
        #reference_number-wrap input{
            margin-right:0px;
            padding: 6px 7px;
        }

        @media (max-width: 767px){
            .col-sm-6 {
                width: 100%;
            }

            #myModal .modal-dialog{
                margin: 40px auto 20px;
            }
            #about_page{
                float: left;
                width: 100%
            }
            .book-trial{
                margin-top: 30px;
            }
            .home-area{
                min-height: 1200px;
            }
        }

        footer.common-footer:before{
            display: none;
        }

        footer{
            margin-top: 0px;
        }

    </style>

</body>
</html>
        <!--</div>-->
       
              
                      
        <div id="referafriend-overlay"></div>
        <div id="referafriend">
            <div id="rafContent"></div>
<!--            <div id="rafLoadMessage"> <img src="/css/skin/frontend/novaworks/eda_theme/images/opc-ajax-loader.gif" class="v-middle" alt="" /> &nbsp; Loading...</div>-->
        </div>
        
    <div class="modal" id="fruit-intro">
       <a class="" href="/shop" title="Fruits"> <img src="/media/fruit-intro.jpg"></a>
    </div>
<div>
    <a href="/cart" class="floating-cart-button">
    <i class="fa fa-shopping-cart my-float"></i>
    <span id="mini-cart-count">0</span>
    </a>
</div>


    </body>    
</html>
{% endblock main_content %}