/*.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 64rem;
}

.hero {
    text-align: center;
    max-width: 100%;
    position: relative;
}*/
.carousel-caption{
    padding-top:150px;
}
.carousel-caption h3{
    font-family:'Bevan';

    font-size:50px;
    text-transform: uppercase;
   

    
}

