@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 2px solid #0663f0;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 10px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.header{

    
    font-size: 40px;
    line-height: 42px;
    padding-bottom: 30px;
    color: #a5030b!important;
    text-align: center;
    font-weight: 700;
    margin-top: -70px;
    margin-left: 140px;
   
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom:20px;
}


@media only screen and (max-width: 200px) {
    .col-item {
        border: 2px solid #0663f0;
        border-radius: 5px;
        background: #FFF;
    }
}










.text-center {
    text-align: center!important;
}


.card {
    font-weight: 400;
    border: 0;
}


.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f0a2ff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
}

.overlay .mask {
    opacity: 0;
    transition: all .4s ease-in-out;
}
.view {
    position: relative;
    overflow: hidden;
    cursor: default;
}

.view img, .view video {
    position: relative;
    display: block;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

img {
    vertical-align: middle;
    border-style: none;
}